.page-main-operation-import {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: hidden;
  overflow-y: auto;
  height: calc(100% - var(--height-header));
  padding: 1.25rem;

  .header-operation-import {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & > h2 {
      color: #101828;
      text-align: center;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.875rem; /* 150% */
    }
  }

  & > section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}

.dialog-modal-import {
  max-width: 32.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.25rem;

  & > [data-header] {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > h3 {
      color: #101828;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.875rem;
    }
  }

  & > [data-footer] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.625rem;
  }
}

.body-table-operation-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: min-content;

  & > button {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.25rem;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    & > svg {
      width: 1rem;
      height: 1rem;
    }
  }
}
