body {
  width: 100%;
  height: 100vh;
  display: grid;

  grid-template-columns: 16rem minmax(0, 1fr);
  grid-template-rows: var(--height-header) minmax(0, 1fr);
  grid-template-areas:
    "header header"
    "aside main";

  & > header {
    grid-area: header;
    grid-column: span 2;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #c2cbdc;
    background: #fff;
    box-shadow: 0px 10px 16px 0px rgba(31, 31, 41, 0.1);
    padding-block: 0.625rem;
    padding-inline: 2.5rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & > a {
      width: auto;
      height: 100%;
      aspect-ratio: 1/1;
      cursor: pointer;

      & > svg {
        aspect-ratio: 1/1;
        height: 100%;
        width: auto;
      }
    }

    & > article {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.75rem;

      & > a {
        cursor: pointer;
      }
    }
  }

  & > aside {
    grid-area: aside;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  & > main {
    grid-area: main;
  }
}
